# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
.venv/
venv/

# Environment
.env

# Database
*.sql.backup
*.dump

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# IDE & OS
.vscode/
.DS_Store
